# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.nfs*

# Editors
*.swp
*.swo
*.vim
.idea/
.vscode/
*.sublime-project
*.sublime-workspace